/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background:#E5E5E5;
}
main{
 display:flex;
 align-items:center;
 flex-direction:column;
}
.container{
    background-color: white;
    width:870px;
    padding:30px;
    margin-top:26px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom:27px;

}
.top-players{
    margin-bottom:30px;
}

/* top players */

.section-title{
    color:#562EFF;
    font-size:24px;
    margin-top:3px;
}
.players{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
    grid-row-gap:30px;
}
.player{
    display:flex;
    align-items:center;

}
.player img{
    width:56px ;
    height:56px;
}
.player-name{
    margin-left:16px;
    font-size:18px;
}
/* top players */
/* top blogs styles */
.blogs{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:26px;
}
  .blog{
    display:flex;
  }
  .blog .thumbnail img{
    width:177px;
    height:117px;
  }
  .info{
    margin-left:16px;
  }
  .blog-title{
    font-size:20px;
  }
  .author{
    color:#562EFF;
    font-size: 16px;
  }
  .blog .info a{
    text-decoration: none;
    font-size:16px;
    color:#562EFF;
  }
/* top blogs styles */
/* coursese style */
.courses{
  display:grid;
  grid-template-columns: repeat(3,1fr);
}
.course-detail{
  display:flex;
  align-items: center;
  justify-content: space-around;
}
.course .course-banner img{
  width:224px;
  height:104px;
}
.fa-star.filled{
  color:#FFC014
}
.fa-star.empty{
  color:#AEAEAE;
}
/*--------- media queries ------*/

/* mobile queris */
@media only screen and (max-width:688px){
  .container{
    width:100%;
  }
  .players, .blogs {
   
    grid-template-columns:repeat(1,1fr)
  }
  .player, .blog{
    flex-direction:column;
   justify-content: center;
  }
  .courses{
    grid-template-columns: repeat(1,1fr);
  }

}
/* tablet-devices */
@media only screen and (min-width:689px) and (max-width:992px){
  .container{
    width:100%;
  }
  .players, .blogs {
    grid-template-columns: repeat(2,1fr);
  }
  .courses{
    grid-template-columns: repeat(1,1fr);
  }
}